
.mask-view {
  p {
    margin: 20px 0;
  }
  .mask_0 {
    .mask_bg {
      width: 800px;
      height: 500px;
      background:url('../../../assets/1.jpg');
      mask-image: url('../../../assets/5.png');
      mask-size: 50px 50px;
    }
  }
  .mask_1 {
    .mask_bg {
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      mask: linear-gradient(90deg, transparent, #fff);
    }
  }
  .mask_2 {
    .mask_bg {
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      mask: linear-gradient(135deg, transparent 15px, #fff 0) top left,
        linear-gradient(-135deg, transparent 15px, #fff 0) top right,
        linear-gradient(-45deg, transparent 15px, #fff 0) bottom right,
        linear-gradient(45deg, transparent 15px, #fff 0) bottom left;
      mask-size: 50% 50%;
      mask-repeat: no-repeat;
    }
  }
  .mask_3 {
    .mask_bg {
      position: relative;
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background: url('../../../assets/2.jpg') no-repeat;
        mask: linear-gradient(45deg, #000 40%, transparent 60%);
      }
    }
  }
  .mask_4 {
    .mask_bg {
      position: relative;
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      animation: maskRotate 2s linear infinite;
    }
  }
  .mask_5 {
    .mask_bg {
      position: relative;
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background: url('../../../assets/2.jpg') no-repeat;
        animation: maskRotate 2s ease-in-out infinite;
      }
    }
  }
  .mask_6 {
    .mask_bg {
      position: relative;
      width: 800px;
      height: 500px;
      background: url('../../../assets/1.jpg');
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background: url('../../../assets/2.jpg') no-repeat;
        animation: maskconic 5s ease-in-out infinite;
      }
    }
  }
  .mask_7 {
    filter: contrast(5);
    .mask_bg {
      position: relative;
      width: 800px;
      height: 500px;
      background: #fff;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(#000, transparent);
        background-size: 20px 20px;
        mask: liner-gradient(-180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5));
      }
    }
  }
  .mask_8 {
    filter: contrast(5);
    .mask_bg {
      position: relative;
      width: 100%;
      height: 500px;
      background: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(#0044aa, transparent);
        background-size: 20px 20px;
        mask: repeating-radial-gradient(circle at 35% 65%, #000, rgba(0, 0, 0, .5), #000 25%);
        animation: maskMove 2s infinite linear;
      }
    }
  }
  .mask_9 {
    .mask_bg {
      width: 100%;
      height: 500px;
      position: relative;
      .img1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../../assets/1.jpg') no-repeat left top;
        // background-size: cover;
      }
      .img2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mask: url('../../../assets/css/xiaoguo.png');
        mask-size: 3000% 100%;
        animation: maskMove 2s steps(29) infinite;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url('../../../assets/2.jpg') no-repeat left top;
          // background-size:;
        }
      }
    }
  }
  @keyframes maskconic {
    @for $i from 0 through 100 {
      #{$i}% {
        mask: conic-gradient(
          #000 #{$i - 10 + '%'},
          transparent #{$i + '%'},
          transparent
        );
      }
    }
  }
  @keyframes maskRotate {
    // 0% {
    //   mask: linear-gradient(45deg, #000 0%, transparent 5%, transparent 5%);
    // }
    // 25% {
    //   mask: linear-gradient(45deg, #000 25%, transparent 30%, transparent 30%);
    // }
    // 50% {
    //   mask: linear-gradient(45deg, #000 50%, transparent 55%, transparent 55%);
    // }
    // 75% {
    //   mask: linear-gradient(45deg, #000 75%, transparent 80%, transparent 80%);
    // }
    // 100% {
    //   mask: linear-gradient(45deg, #000 100%, transparent 105%, transparent 105%);
    // }
    @for $i from 0 to 100 {
      #{$i}% {
        mask: linear-gradient(
          45deg,
          #000 #{$i + '%'},
          transparent #{$i + 2 + '%'},
          transparent 1%
        );
      }
    }
  }
  @keyframes maskMove  {
    @for $i from 0 to 100 {
      #{$i}% {
        // mask: repeating-radial-gradient(circle at 35% 65%, #000, rgba(0, 0, 0, .5), #000 #{$i + 10 + '%'});
        mask: repeating-radial-gradient(circle at 35% 65%, #000, rgba(0, 0, 0, .5), #000 #{$i / 3 + 10 + '%'});
        filter: hue-rotate(#{$i * 3.6 + 'deg'});
      }
    }
  }
  @keyframes maskMove {
    from {
      mask-position: 0 0;
    }
    to {
      mask-position: 100% 0;
    }
  }
}
