.layout-content{
  display: flex;
  min-height: 100vh;
  background: #F0F2F5;
  .menu-box {
    // width: 200px;
    background-color: #001529;
  }
  @media screen and (max-width: 1366px) {
    .menu-box{
      width: 0;
      transition: width .6s;
      display: none;
    }
  }
  .layout-right{
    flex: 1;
    .content-box{
      flex: 1;
      height: 780px;
      background: #fff;
      margin: 0 0 0 16px;
      padding: 16px;
      box-shadow: 0px 3px 6px 0px rgba(153, 153, 153, 0.11);
      overflow: auto;
    }
    .footer-box{
    }
  }
}