html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
    text-decoration: none;
}
/* 全局设置盒子模型 */
html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
/* 整个滚动条容器宽度 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* 滚动条 */
::-webkit-scrollbar-thumb {
	border-radius: 16px;
	background-color: #c7c9cc;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.ellipsis {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}